{:paths ["src", "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        ring/ring {:mvn/version "1.15.1"}
        metosin/reitit {:mvn/version "0.9.1"}
        http-kit/http-kit {:mvn/version "2.8.1"}
        cheshire/cheshire {:mvn/version "6.1.0"}}}
